body {
  margin: 0;
  background-color: rgb(46, 48, 50)
}

.primeira-pagina {
  height: 100vh;
  background-image: url("components/—Pngtree—vector\ abstract\ futuristic\ digital\ landscape_1240800.jpg");
}

.header-container {
  display: flex;
  justify-content: space-between;
  
  justify-items: center;
  align-items: center;
  
  
 
  width: 100%;
  height: 13vh;
  
  
}



.header-container h1 {
  font-size: 3em;
  color: whitesmoke;
}

.button-container {
  
  padding-right: 1rem;
  flex-wrap: wrap;
  

}

.button-container button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: whitesmoke;
  margin-left: 32px;
}

.button-container button:hover{
  cursor: pointer;
  color: blanchedalmond;
}

.but-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
}